@media (max-width: 992px) {
  .hero {
    flex-direction: column;
  }

  .contacto img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .hero {
    gap: 0px;
  }

  .contacto img {
    max-width: 200px;
  }

  .card {
    width: 30%;
  }

  .datos_card {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .cards {
    gap: 10px;
  }

  .card {
    width: 30%;
  }
}
