* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(231, 234, 238);
}
.contenedor {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
.opciones {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  /* text-shadow: 2px 2px 7px; */
}
.logo {
  height: 70px;
  width: 70px;
  /* box-shadow: 2px 2px 10px;
  border-radius: 50%;
  border: solid black 1px; */
}
a {
  text-decoration: none;
  color: black;
}
.image {
  width: 300px;
  height: 300px;
}
.hero {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.left {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  font-size: 30px;
}
.button {
  display: flex;
  gap: 10px;
}
.button a {
  border-radius: 20px;
  padding: 5px 15px;
  gap: 10px;
}
.black {
  background-color: black;
  color: white;
}
.white {
  border: 3px black solid;
  color: black;
}
.about {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 16px;
}
.about p {
  width: 800px;
}

.ventajas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 16px;
}

.image-svg {
  width: 40px;
  height: 40px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20%;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding-top: 35px;
}

.contacto {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  padding: 16px;
}

.datitos img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: rgba(104, 105, 106, 0.289);
}

.datos_card {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin: 30px;
  gap: 40px;
}

.datitos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.datos {
}

.primerDato {
  gap: 15px;
}

.datos h2 {
  margin: 30px;
}

.datito {
  margin: 20px 0px;
}

.icon_social {
  margin: 30px;
}

.icon_social img {
  width: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 16px;
}

footer img {
  width: 40px;
  height: 40px;
}
